@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

body {
   font-family: 'Poppins', sans-serif;
   background: linear-gradient(90deg, rgba(32,42,69,1) 0%, rgba(15,23,42,1) 78%);
   color: #fff;
   font-size: 18px;
}

h1, h2, h3, h4 {
   font-family: 'DynaPuff', cursive;
   text-align: center;
   font-size: 34px;
   border-bottom: 2px solid #fff;
   padding-bottom: 10px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   max-width: 1000px;
   margin: auto;
}

.button {
   display: inline-block;
   font-size: 18px;
   font-weight: 500;
   color: #fff;
   border: 0;
   outline: none;
   background-color: #0284C7;
   border: 1px solid rgba(255, 255, 255, .4);
   border-radius: 4px;
   padding: 12px 25px;
   transition: all .2s ease;
   cursor: pointer;
}

.button:hover {
   opacity: .7;
}

.text-center {
   text-align: center;
}

.mt-5 {
   margin-top: 30px;
}

.mt-2 {
   margin-bottom: 15px;
}

.one input {
   display: inline-block;
   width: 250px;
   border: 2px solid #fff;
   border-radius: 2px;
   padding: 10px;
   font-size: 18px;
   margin: 0px 15px;
   outline: none;
}

.code {
   background-color: #0000003b;
   margin-top: 20px;
   padding: 25px;
   box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2);
   border-radius: 8px;
}